<div class="card-body">

  <p *ngIf="!discarded" class="card-subtitle mb-3 text-muted"><b>Investigator</b> choose a penalty to <b>discard</b>.</p>
  <p *ngIf="discarded" class="card-subtitle mb-3 text-muted"><b>Suspect</b> choose a penalty to use.</p>

  <div class="row">
    <div *ngFor="let penalty of penalties" class="col-sm col-xs-12 mb-2">
      <app-card-element [selectable]="true" [dark]="true" [active]="penalty===selected" (onClick)="selectPenalty(penalty)">
          <div class="card-body centre">
            <p class="card-title">{{penalty.penalty}}</p>
          </div>
      </app-card-element>
    </div>
  </div>

</div>

<div class="card-footer">
  <button *ngIf="!discarded" class="btn btn-secondary" (click)="discardPenalty()">Discard</button>
  <button *ngIf="discarded" class="btn btn-secondary" (click)="validateStep()">Next</button>
  <p class="has-error">{{error}}</p>
</div>