<div class="card-body">
  <div *ngIf="!roles" class="row">
    <div class="col-sm-6">
      <button class="btn btn-secondary" (click)="fetchRoles()">Choose one from 3 random roles</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-secondary" (click)="fetchRole()">Get 1 random role (advanced)</button>
    </div>
  </div>

  <div *ngIf="roles" class="row">
    <div *ngFor="let role of roles" class="col-sm-4">
      <div class="selectable-cell" [ngClass]="{active: role === setup.role}" (click)="selectRole(role)">
        <p>{{getRoleType(role).flavourName}}</p>
        <p>{{role.flavour}}</p>
        <hr>
        <h4>{{getRoleType(role).name}}</h4>
        <hr>
        <p *ngFor="let goal of role.goals">{{goal}}</p>
        <hr>
        <p>{{getRoleType(role).info}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <button class="btn btn-secondary" (click)="validateStep()">Next</button>
  <p class="has-error">{{error}}</p>
</div>