<div class="card-body">
  <p class="card-subtitle mb-3 text-muted"><b>Investigator</b> chooses 2 {{type}} inquiries.</p>

  <div class="row">
    <div *ngFor="let inquiry of inquiries" class="col-sm-4 mb-2">
      <div  class="selectable selectable-cell" [ngClass]="{active: isSelected(inquiry)}" (click)="selectInquiry(inquiry)">
        <h3>{{inquiry.inquiry}}</h3>
        <br>
        <h5>Suggested Prompts</h5>
        <p *ngFor="let question of inquiry.questions">{{question}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
    <button class="btn btn-secondary" (click)="validateStep()">Next</button>
    <p class="has-error">{{error}}</p>
</div>
