.nav-item a{
    padding: 10px;
    margin: 0px 10px;
    border: solid white 1.5px;
    color: white;
}

@media (min-width: 992px){
    div.main-container {
        max-width: 70%;
    }
}

div.main-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

