<div class="card-body">
  <p class="card-subtitle mb-3 text-muted"><b>Both players</b> agree on a packet to use.</p>

  <div class="row">
    <div *ngFor="let packet of packets" class="col-sm-6 mb-2">
      <div class="selectable selectable-cell" [ngClass]="{active : packet===setup.packet}" (click)="selectPacket(packet)">
        <div class="row"> 
          <div class="col-9">{{packet.fullName}}</div>
          <div class="col-3">
            <img class="pull-right packet-icon" src="assets/images/{{packet.icon}}.png" height="50"/>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <button class="btn btn-secondary" data-toggle="modal" data-target="#suspect-modal">Next</button>
  <p class="has-error">{{error}}</p>
</div>

<app-switch-player-modal player="suspect" (callback)="validateStep()"></app-switch-player-modal>
