@import '~bootstrap/dist/css/bootstrap.min.css';

.centre{
    width: 100%;
    margin: auto;
    text-align: center;
}

div.selectable-cell{
    background-color: #343A40;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

div.selectable-cell:hover{
    background-color: #2B3035;
}

div.selectable-cell.active{
    background-color: #000000;
}


div.selectable:hover{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(136,136,136,1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(136,136,136,1);
    box-shadow: 0px 0px 15px 5px rgba(136,136,136,1);
}

div.selectable.active{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(102,102,102,1);
    box-shadow: 0px 0px 15px 5px rgba(102,102,102,1);
}

.has-error {
    color: red;
    font-size: 12px;
    margin: 10px 0px
}