<app-setup-stage title="Choose a penalty" [setup]="setup" step="1">
  <app-penalty-chooser [setup]="setup"></app-penalty-chooser>
</app-setup-stage>

<app-setup-stage title="Choose a packet" [setup]="setup" step="2">
  <app-packet-chooser [setup]="setup"></app-packet-chooser>
</app-setup-stage>

<app-setup-stage title="Choose a Suspect Role" [setup]="setup" step="3">
  <app-role-chooser [setup]="setup"></app-role-chooser>
</app-setup-stage>

<app-setup-stage title="Choose a Suspect Note" [setup]="setup" step="4">
  <app-note-chooser [setup]="setup"></app-note-chooser>
</app-setup-stage>

<app-setup-stage title="Choose 2 Primary Inquiries" [setup]="setup" step="5">
  <app-inquiry-chooser *ngIf="setup.packet" [setup]="setup" type="primary"></app-inquiry-chooser>
</app-setup-stage>

<app-setup-stage title="Choose 2 Secondary Inquiries" [setup]="setup" step="6">
    <app-inquiry-chooser *ngIf="setup.packet" [setup]="setup" type="secondary"></app-inquiry-chooser>
</app-setup-stage>

<app-setup-stage title="Send game link to suspect" [setup]="setup" step="7">
  <div *ngIf="setup.step === 7">
    <div class="card-body">
      <p class="card-subtitle mb-3 text-muted">Send game link to suspect</p> 
      <div class="input-group mb-3">
        <p class="form-control link-text" aria-describedby="copy-btn">
          {{getSuspectLink()}}
        </p>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" id="copy-btn" type="button" title="Copy to clipboard" (click)="copy(linktext)">
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
      <p *ngIf="copied" class="copy-confirm">Link copied!</p>
      <input type="text" style="opacity: 0;" value="{{getSuspectLink()}}" #linktext>
    </div>

    <div class="card-footer">
      <a routerLink={{getInvestigatorLink()}}>
        <button class="btn btn-secondary">Start game as investigator</button>
      </a>
    </div>
  </div>
</app-setup-stage>
